a, a:link, a:visited {
    color: #006a4e;
}

h1 {
    font-size: 26px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px dotted #bababa;
}

h4 {
    font-size: 14px;
}

p, form, input {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#calendar_container {
    padding: 20px 40px;
}

div#main_column {
    float: left;
    width: 600px;
    min-height: 500px;
    border-right: 1px dotted #bababa;
    padding-right: 40px;
}

div.event {
    border: 1px solid #bababa;
    border-radius: 5px;
    background-color: #F5F6F6;
    padding: 10px;
    margin: 15px 0;
}

div.event .event_header {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    margin: 0;
}

div.event .event_header .event_title {
    font-size: 16px;
}

div.event .event_content {
    margin: 5px 0 0 0;
}

div.event .event_calendar {
    margin: 5px 0 0 0;
}

form#search_form input {
    border: 1px solid #bababa;
    margin: 0;
    padding: 5px;
}

a.show_all, a.hide_all {
    border: 1px solid #bababa;
    padding: 5px;
    margin-right: 5px;
}
