a, a:link, a:visited {
    color: #006a4e;
}

h1 {
    font-size: 26px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

div.date {
    border-top: 1px dotted #bababa;
}

div.event {
    border: 1px solid #bababa;
    border-radius: 5px;
    background-color: #F5F6F6;
    padding: 10px;
    margin: 10px 0;
}

div.event .event_header {
    font-weight: bold;
    margin: 0;
}

div.event .event_header .event_title {
    font-size: 18px;
}

div.event .event_content {
    margin: 10px 0 0 0;
}

form#search_form {
    margin-bottom: -20px;
}
